button
{
  background-color: lightblue;
  border:0px;
  padding:15px;
}
a
{
  background-color: lightblue;
  border:0px;
  padding:13px;
}
input
{
  
  background-color: lightblue;
  border:0px;
  width:60px;
  padding:16px;
}